body{
	margin: 0px;
	padding: 0px;
	font: 13px Helvetica,Arial,sans-serif;
	line-height: 1.62;
}
div{
	overflow: hidden;
}
a{
	text-decoration: none;
	color: #333;
}
ul{
	list-style: none;
}
#main{
	margin: 0 auto ;
	width: 960px;
	margin-top: 25px;
}

#header{
	border-bottom: 1px solid #e3e3e8;
}

/*#logo{
	display: inline-block;
}
#logo img{
	height: 70px;
}*/
/*#content{
	display: inline-block;
}*/
#logo{
	float: left;
	margin-top: -3px;
	margin-right: 20px;
}
#content{
	float: left;
}
#content ul{
	padding: 0px;
	margin: 0px;
	text-align: center;
}
#content ul li{
	float: left;
	text-align: center;
}
#content ul li a{
	display:inline-block;
	font-weight: bold;
	width: 80px;
	padding-bottom: 20px;
}
#content ul li span{
	color: #aeaeae;
}

#content-select{
	border-bottom: 3px solid #333;
	color: #4183c4;
}


#view {
	width: 960px;
	min-height: 200px;
}


#footer{
	padding: 0px;
	margin-top: 10px;
	color: #9d9d9d;
	font-size: 12px;
	border-top: 1px solid #e3e3e8;
}
#footer p{
	margin: 5px;
}

#footer-left{
	float: left;
}
#footer-right{
	float: right;
}















